---
import { faq } from "../types/types";
import Separator from "./Separator.astro";

interface Props {
  item: faq;
}
const { item } = Astro.props;
---

<div class="faqItem">
  <h3>{item.question}</h3>
  <p>{item.response}</p>
  <Separator />
</div>

<style>
  h3 {
    font-size: 34px;
    color: rgb(223, 221, 186);
  }
  .faqItem {
    text-align: center;
  }
</style>
