---
---

<section>
  <video src="/assets/hero.mp4" autoplay loop></video>
  <div class="logo"><img src="/assets/hero-logo.webp" alt="" /></div>
</section>

<style>
  section {
    height: 100vh;
    background-color: black;
  }

  video {
    position: relative;
    width: 100%;
  }

  .logo {
    position: relative;
    top: -450px;
    text-align: center;
  }

  .logo img {
    width: 600px;
  }
</style>
