---
import type { MenuItem } from "../types/types";

interface Props extends MenuItem {}

const { title, url, icon } = Astro.props;
---

<li>
  <a href={url}> {title}</a>
</li>

<style>
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li a {
    font-size: 20px;
    display: block;
    padding: 30px 40px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
  }
  li a:hover {
    color: orange;
    transform: scale(1.15);
  }

  img {
    width: 32px;
  }
</style>
