---
---

<div class="rule">
  <img src="/assets/rule.png" alt="" />
</div>

<style>
  .rule {
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }

  .rule img {
    width: 200px;
    text-align: center;
  }
</style>
